<div class="container mx-auto" style="margin-top: 40px">
  <%= tag.h1 "#{@user.name}の投稿一覧" %>

    <table class="table">
      <thead>
        <%= tag.tr %>
          <%= tag.th "タイトル" %>
          <%= tag.th "投稿日" %>
      </thead>

      <tbody>
      <% @user.posts.each do |post| %>
        <% if post.del_flag != 1 %>
          <%= tag.tr %>
            <%= tag.td link_to(post.title, posts_show_path(post.id)) %>
            <%= tag.td post.created_at %></td>
      <% end %>
      </tbody>
    </table>
</div>