<div class="container mx-auto" style="margin-top: 40px">
<h1>イベント別の投稿一覧</h1>


<%= form_for(@post_search, url: event_search_path) do |f| %>
  <%= tag.p f.collection_select(:event_id, Event.all, :id, :event_name, include_blank: "イベントを選択してください")%>
  <%= tag.p f.submit"検索", class: "btn btn-primary post-new-label" %>
<% end %>

<table class="table">
  <thead>
    <%= tag.tr %>
      <%= tag.th "タイトル" %>
      <%= tag.th "投稿者" %>
      <%= tag.th "投稿日" %>

  </thead>

  <tbody>
    <% if @posts %>
      <% @posts.each do |post| %>
        <%= tag.tr %>
          <%= tag.td link_to(post.title,"/posts/#{post.id}/show") %>
          <%= tag.td post.user.name %>
          <%= tag.td post.created_at %>
      <% end %>
    <% end %>
  </tbody>

  