<div class="container mx-auto" style="margin-top: 40px">
 <%= tag.h1 "#{@post.user.name}の投稿です" %>
  <div class="card" style="float: left">
    <%= tag.p "投稿詳細", class:"card-header" %>
    <div class="card-body" >
      <div class="card-image">
        <%= image_tag @post.image_post.url %>
      </div>
      <div class="card-text" >
        <%= tag.p "タイトル： #{@post.title}", class:"card-title" %>
        <%= tag.p "イベント： #{@post.event.event_name}", class:"card-text" %>
        <%= tag.p "投稿内容： #{@post.content}", class:"card-text" %>
      </div>
      <div class="card-btn">
        <%= link_to("編集", post_edit_path(@post.id), class: "btn btn-primary") %>
        <%= link_to("削除", post_destroy_path(@post.id), data: {confirm: "「#{@post.title}」を削除します。よろしいですか？"}, class: "btn btn-primary") %>
      </div>
    </div>
  </div>
  <div class="comment">
    <%= form_for(@comment, url: comment_create_path(@post.id)) do |f| %>
      <%= tag.div f.label :"コメント",  class: "post-new-label" %>
      <%= f.text_area :body , class: "form-control"%>
      <%= tag.div f.submit "コメントを追加", class: "btn btn-primary post-new-label" %>
    <% end %>
  </div>
</div>